 .box{
		background: #ffffff;
		margin-top: 1cm ;
		margin-bottom:1cm;
		margin-left:8cm;
		border: solid 1px #e6e6e6;
		box-sizing: border-box;
		padding: 20px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
	  }
.box2{
		background: #ffffff;
		margin-top: 1cm ;
		margin-bottom:1cm;
		margin-left :5cm;
		border: solid 1px #e6e6e6;
		box-sizing: border-box;
		padding: 20px;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
		width :400px;
		height : 450px;
	 }
.box3{
		background: #ffffff;
		margin-top: 1cm ;
		margin-bottom:1cm;
		border: solid 1px #e6e6e6;
		box-sizing: border-box;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, .3);
		width :300px;
		height : 450px;
	 }		 
.login100-form-btn {
						box-sizing: border-box;
						padding: 10px;
						border: solid 1px #45C052;
						font-weight :bold;
						border-radius :5px;
						background-color:#45C052;
						color:white;
						width :150px;
						margin-top:1cm;
			       }
	  
.profile{ width: 50%;
        margin: 0 auto;
        padding: 20px;
        background: white;
		border-radius:5%;
		opacity:0.8;}
div.pro{color:black;
		text-align:center;
		}
.row
{
	margin:auto;
	}
.detailsbold{
	font-weight:bold;
	}
.cart {
			box-sizing: border-box;
			padding: 10px;
			border: solid 1px #45C052;
			font-weight :bold;
			border-radius :5px;
			background-color:#45C052;
			color:white;
			width :150px;
			margin-top:1cm;
}
